.goal_layout { display: flex; gap: 40px; align-items: stretch; }
.goal_card {
  flex: 1; background: var(--t-card-bg); padding: 40px; border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3); display: flex; flex-direction: column; justify-content: center;
}
.goal_card h2 { color: var(--t-yellow); margin-top: 0; font-size: 2rem; margin-bottom: 30px; }
.atm_lab_goal p { line-height: 1.8; font-size: 1.1rem; margin-bottom: 20px; color: var(--t-text-main); }
mark { background: rgba(255, 221, 45, 0.2); color: var(--t-yellow); padding: 4px 8px; border-radius: 6px; border: 1px solid var(--t-yellow);}

:root { --goal-img: url('https://static.tildacdn.com/tild3837-3539-4138-b163-313634623666/76800.webp  '); }
body.light_theme { --goal-img: url('https://avatars.mds.yandex.net/i?id=3b859f3775e17de3516dbcb41920a14e_l-10303547-images-thumbs&n=13'); }


.goal_image {
  flex: 1; background-image: var(--goal-img); background-size: cover; background-position: center;
  border-radius: 16px; box-shadow: 0 10px 30px rgba(0,0,0,0.3); transition: background-image 0.3s ease;
}
